﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u77 {
  position:absolute;
  left:789px;
  top:152px;
  width:757px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  white-space:nowrap;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:650px;
}
#u79 {
  position:absolute;
  left:118px;
  top:92px;
  width:591px;
  height:650px;
}
#u80 {
  position:absolute;
  left:2px;
  top:317px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
