﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:948px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1172 {
  position:absolute;
  left:473px;
  top:190px;
  width:475px;
  height:96px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  white-space:nowrap;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:735px;
}
#u1174 {
  position:absolute;
  left:83px;
  top:73px;
  width:350px;
  height:735px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:360px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
